{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="logform">

   

    <form action="{% url 'user:registration' %}"method="post">
        {% csrf_token %}
        <label for="id_username">Имя пользователя</label>
        <input class="inpreg" name="username" type="text" id="id_username" 
            placeholder="Введите имя пользователя" 
            value="{% if form.username.value %}{{form.username.value}}{% endif %}">
        {% if form.username.errors %}   
        <div>{{form.username.errors}}</div>
        {% endif %}
        <label for="id_first_name">Имя </label>
        <input class="inpreg" name="first_name" type="text" id="id_first_name" 
            placeholder="Введите имя" 
            value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}">
        {% if form.first_name.errors %}   
        <div>{{form.first_name.errors}}</div>
        {% endif %}
        <label for="id_last_name">Фамилия </label>
        <input class="inpreg" name="last_name" type="text" id="id_last_name" 
            placeholder="Введите имя" 
            value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}">
        {% if form.last_name.errors %}   
        <div>{{form.last_name.errors}}</div>
        {% endif %}
        <label for="id_address">Адрес </label>
        <input class="inpreg" name="address" type="text" id="id_address" 
            placeholder="Введите адрес" 
            value="{% if form.address.value %}{{form.address.value}}{% endif %}">
        {% if form.address.errors %}   
        <div>{{form.address.errors}}</div>
        {% endif %}
        <label for="id_email">Email </label>
        <input class="inpreg" name="email" type="email" id="id_email" 
            placeholder="Введите почту" 
            value="{% if form.email.value %}{{form.email.value}}{% endif %}">
        {% if form.email.errors %}   
        <div>{{form.email.errors}}</div>
        {% endif %}
        <label for="id_password1">Пароль</label>
        <input class="inpreg" type="password" name="password1" id="id_password1" 
            placeholder="Введите пароль">
        {% if form.password1.errors %}   
        <div>{{form.password1.errors}}</div>
        {% endif %}
        <label for="id_password2">Пароль еще раз</label>
        <input class="inpreg" type="password" name="password2" id="id_password2" 
            placeholder="Введите пароль">
        {% if form.password2.errors %}   
        <div>{{form.password2.errors}}</div>
        {% endif %}
        <button type="submit">Зарегистрироваться</button>
        <div>{{form.errors}}</div>
    </form>
    
</div>


    
{% endblock content %}