{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href= "{% static "styles/style.css" %}">
</head>

<body class="base">
    
    <div class="container">
        

        <form class="btnhome" action="{% url 'main:index' %}">

            <button class="home"  >
                <img src= "{% static "images/home(1).png" %}" >
                {% comment %} <img src="static/images/home (1).png" > {% endcomment %}
                
            </button>
        </form>
           
       
        <form class="btnhome" action="{% url 'products:assort' 'all'%}">

            <button class="menu">Категории</button>
        </form>
        <button class="menu">Достака и оплата</button>
        <form class="btnhome" action="{% url 'main:about' %}">

            <button class="menu">О нас</button>
        </form>
        
        
        {% if not user.is_authenticated %}
            <form class="btnhome" action="{% url 'users:login' %}">
                <button class="menu">Войти</button>
            </form>
        {% else %}
            <form class="btnhome" action="{% url 'users:logout' %}">
                <button class="menu">Выйти</button>
            </form>
            <form class="btnhome" action="{% url 'users:profile' %}">
                <button class="menu">Личный кабинет</button>
            </form>            
            {% if user.is_admin or user.is_staff %}
                <form class="btnhome" action="{% url 'admin:index' %}">
                    <button class="menu">Админ панель</button>
                </form>  
            {% endif %}
        {% endif %}
            



        
        <form action="{% url 'products:search' %}" method="get">
            <input class=".search"  type="text" name="q" placeholder="Поиск">
            <input type="submit" value="Поиск">
        </form>
        
        
    </div>
    
        
        {% block content %}
            
        {% endblock content %}
            
        {% include 'includes/notifications.html' %}    
        
        <div class="carts">
            корзина
        </div>
   
</body>

</html>